.mainWrapper {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: #d10101;
}

.remember {
  padding: 12px;
  color: #d7d7d7;
  text-decoration: none;
}

.link {
  font-weight: 700;
  color: #d7d7d7;
}
