.wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 48px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  //   transform: translateY(-50px);
}

.link {
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: gray;
}
