.wrapper {
  display: flex;
  min-height: 100dvh;
}

.mainWrapper {
  flex: 1;
}

.main {
  padding: 35px;
  max-width: 820px;
}

.center {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
