.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;

  h1 {
    font-weight: 600;
    font-size: 32px;
  }

  @media (min-width: 768px) {
    width: 370px;
  }
}

.wrapper {
  width: 100%;

  @media (min-width: 768px) {
    padding: 20px;
  }
}

.label {
  grid-area: name;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #696b76;
  margin-bottom: 15px;
}

.input {
  margin-top: 8px;
  padding: 15px;
  height: 50px;
  color: #d7d7d7;
  background-color: #393a42;
  border: none;
}

.inputDescription {
  padding: 5px 0 10px;
  font-size: 12px;
}

.error {
  color: #d10101;
  font-size: 14px;
}

.submitBtn {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-color: #393a42;
  border: 1px solid #696b76;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: #696b76;
  }
}
