.transactionRow {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;

  p {
    font-size: 14px;
    color: #d7d7d7;
  }
}

.transactionAmount {
  width: 40px;
}

.transactionName {
  flex: 1;
  padding-left: 10px;
}
