.userMenu {
  padding: 18px 0 10px;
  border-top: 1px solid #585963;
}

.userMenuBtn {
  width: 100%;
  border: none;
  background-color: inherit;
  text-align: left;
  font-size: 14px;
}

.hidden {
  display: none;
}
