.welcomeWrapper {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.welcomeBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: #d7d7d7;
  background-color: #585963;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #6e6e76;
  }
}
