.field {
  h3 {
    padding: 8px 0;
    font-size: 14px;
    color: #696b76;
  }
}

.fieldContent {
  padding: 15px;
  background-color: hsl(233, 7%, 24%);
  margin-bottom: 20px;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}
