.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  margin-top: 35px;
}
.extendedLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #393a42;
  padding-bottom: 5px;
}
.arrowIconDown {
  transform: rotate(90deg);
}
